SUBSYSTEM=="tty", ATTRS{idVendor}=="1a86", ATTRS{idProduct}=="5723",ATTRS{devpath}=="1.3"  SYMLINK+="QR_STOCK_AREA"
SUBSYSTEM=="tty", ATTRS{idVendor}=="1a86", ATTRS{idProduct}=="5723",ATTRS{devpath}=="1.4"  SYMLINK+="QR_TEST_AREA"
